body
{
	background-color: #590800;
	color: white;
}
hr
{
	color: white;
}
.img img
{
	width: 50%;
	margin-left: 25%;
	margin-top: 5px;
}
.buttons
{
	background-color: #0b0800;
	height: 50px;
	font-size: 25px;
	display: flex;
	justify-content: space-around;
}
.buttons a
{
	text-decoration: none;
	color: white;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	width: 25%;
	text-align: center;
	height: 50px;
}
.buttons a:hover
{
	background-color: white;
	color: black;
}
.text
{
	font-size: 20px;
	margin-top: 10px;
	border-left: 1px;
	border-right: 1px;
	border-top: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: white;
	text-align: center;
}
.text p
{
	padding-left: 10px;
	padding-right: 10px;
	width: 95%;
}